@model NoteTakerWebApp.Models.User

@{
    ViewData["Title"] = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>User DashBoard</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RePassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RePassword)
        </dd>
    </dl>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="C:\Users\majayi\source\repos\NoteTakerWebApp\Views\Home\Index.cshtml">Back to List</a>
</div>*@
