@model IEnumerable<NoteTakerWebApp.Models.Notes>

@{
    ViewData["Title"] = "ViewNotes";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>View @UserStatic.UserName.ToString() Notes</h1>
<hr />

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="row">
    @foreach (var item in Model) 
    {  
        <div class="col-lg-4">
            <div class="card" style="width:400px;margin:10px;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-title">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a class="btn btn-primary" asp-controller="ViewNotes" asp-action="EditNotes" asp-route-id="@item.Id">Edit</a>
                    @Html.ActionLink("Delete","Delete", new { id=item.Id })
                    @*<a class="btn btn-primary" asp-controller="ViewNotes" asp-action="Index" asp-route-id="@item.Id">Delete</a>*@
                </div>
            </div>
        </div>    
    }

</div>
